<!DOCTYPE html>
<html>
<head>
	<title>Sample</title>
</head>
<body>
	<h>Hello World</h>
	<script src="/js/jquery-3.6.0.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/sweetalert2.js"></script>
	<script src="/js/lottie-player.js"></script>
	<script src="/js/terbilang.min.js"></script>
	<script src="/js/app.js"></script></script>
</body>
</html>